@media (min-width: 576px) { 
.container {
	max-width: 768px;
	}
.socials-line {
	margin-bottom: 38.81px;
}
	.social-link {
margin-left: 20px;
}
.hero-avatar {
	width: 113px;
	height: 113px;
	background-position: center top -40px;
	border: 5px solid white; 
margin-bottom: 17px;
}
.hero-text {
text-align: center;
}
.hero-subtitle {
margin-bottom: 4px;
font-size: 16px;
line-height: 27px;
}
.hero-title {
margin-bottom: 14px;
font-size: 24px;
line-height: 28px;
}
.hero-description {
margin-bottom: 43px;
font-size: 14px;
line-height: 140%;
}
.button {
font-size: 10px;
line-height: 12px;
padding: 13px 25px;
margin-bottom: 75px;
}
.section-title{
margin: 0;
margin-top: 50px;
font-size: 19px;
line-height: 22px;
}
.features-block {
padding-top: 60px;
padding-bottom: 60px;
}
.virtues-card {
	flex-basis: 100%;
	margin-bottom:30px;
}
.virtues-card__title {
padding-bottom: 6px;
font-size: 18px;
line-height: 28px;
}
.virtues-card__description {
font-size: 14px;
line-height: 28px;
}
.project-image {
	margin-bottom:46px;
	margin-top:47px;
 }
.project-title {
font-size: 18px;
line-height: 150%;
margin-bottom:40px;
}
.project-subtitle {
font-size: 18px;
line-height: 21px;
}
.project-paragraph {
margin: 0;
font-size: 14px;
line-height: 16px;
}
.project-time, .project-cost {
margin-bottom:33px;
}
.projects-pagination {
margin-top:27px;
margin-bottom:47px;
}
.contacts-form {
	max-width: 256px;
	margin-top:48px;
margin-bottom:58px;
padding-top: 39px;
padding-right: 19px;
padding-left: 18px;
padding-bottom: 47px;
}
.contacts-title {
font-size: 15px;
line-height: 140%;
margin-bottom:27px;
}
.input {
padding:18px 22px;
padding-left: 50px;
}
.contacts-data {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-bottom: 50px;
	margin-top:58px;
}
.contacts-title1 {
font-size: 18px;
line-height: 21px;
}
.contacts-link {
	color: inherit;
	margin-right:0;
font-size: 14px;
line-height: 16px;
}
.contacts-phone, .contacts-mail {
	flex-basis: 100%;
	margin-bottom:35px;
}
.contacts-social {
	margin-bottom:39px;
}
.social-links {
	margin-bottom:26.5px;
}
.contacts-policy {
font-size: 15px;
line-height: 18px;
margin-bottom:50px;
}

}
